{% extends 'front/base.html.twig' %}

{% block title %}Informations sur les cookies{% endblock %}

{% block body %}
    <h1>Informations sur les cookies</h1>
    <p>Votre dernière visite : {{ last_visit }}</p>
{% endblock %}